<tr class="body-tr body-tr-lower body-tr-lower-moreui {{#if isFirst}}body-tr-first{{/if}}  {{#if isLast}}body-tr-last{{/if}} {{#if isDark}}is-dark{{else}}is-bright{{/if}} moreui-{{what}}">
<td class="body-td body-td-lower body-td-empty">&nbsp;</td>
<td class="body-td body-td-lower body-td-content body-td-content-moreui td-center">
<!--<BUTTON>-->
{{#if label}}
<center class="cta-container">
  <div class="cta-container-exterior">
			<!-- cta-block -->
      <div class="cta-block cta-moreui">
          <table class="cta-moreui cta-block-table" align="center" cellpadding="0" cellspacing="0">
              <tbody>
                  <tr>
                      <td class="cta-button cta-moreui is-large" align="center">
                          <a
														class="cta-link-moreui border-less" href="{{link}}"
														title="{{title}}"
													>
														<img
															alt="{{alt}}"
															class="icon ui-icon icon-{{what}} as-bt"
															src="\{{urlAssets}}/bt-icon-{{what}}@3x{{#if isDark}}--dark{{/if}}.png"
														/>
                              <span class="cta-link-label is-lighter">{{label}}</span>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
				</mj-raw>
      </div>
			<!-- /end cta-block -->
	</div>
</center>
{{/if}}
<!--</BUTTON>-->
</td>
<td class="body-td body-td-lower body-td-empty">&nbsp;</td>
</tr>
